* {
    overflow: auto;
}

body {
    background-color: #8BA1BB;
    font-family: Arial;
}

p.category {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
}

.center {
    text-align: center;
    width: 100%;
}

div.category {
    margin-bottom: 0;
    margin-top: 0;
    overflow: visible;
}

div.content {
    background-color: white;
    margin: 40px 8px 20px 8px;
    padding: 0 30px 30px 30px;
    min-width: 350px;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);
    overflow: visible;
}

div.seperator {
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

div.info {
    position: relative;
}

table.info {
    position:absolute; 
    bottom: 0; 
    width: 100%; 
    height: 50px; 
    color: white; 
    background-color: #6C829DC0;
}

table.info td {
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

table.info th {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 8px;
    font-size: 14px;
}

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

div.col {
    width:100%;
    margin-top: 20px;
}

div.col h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829DC0;
    padding-bottom: 5px;
}

div.col1 {
    display: inline-block;
}

div.ingredients p {
    border: 1px solid lightgrey;
    text-align: center;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
    padding: 8px 0;
}

table.instructions p.number {
    background-color: #6C829D;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.instructions td.instruction_step {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

table.instructions td {
    vertical-align: top;
}

table.instructions tr {
    height: 40px;
}

/*Desktop styles*/
@media only screen and (min-width: 768px) {
    div.content {
        margin: 60px 10% 80px 10%;
        padding: 0 30px 30px 30px;
        min-width: 350px;
    }

    table.info {
        height: 80px; 
    }
    
    table.info td {
        font-size: 14px;
    }
    
    table.info th {
        font-size: 16px;
    }
    div.col {
        width:45%;
    }
    div.col1{
        margin-right: 10%;
    }

    div.col2 {
        float: right;
    }
}

/*Very large screens*/
@media only screen and (min-width: 900px) {
    div.content {
        margin: 60px auto 80px auto;
        width: 650px;
    }
}